[user]
  name = Zefei Xuan
  email = zefei.xuan@gmail.com
[core]
  excludesfile = /Users/zefei/.gitignore_global
[alias]
  co = checkout
  s = status
  c = commit
  d = diff
  l = log --pretty=format:\"%h %s\" --graph
[push]
	default = simple
